@font-face {
    font-family: 'Lato';
    src: url('/fonts/Lato/Lato-Regular.ttf');
}

*, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato';
    color: black;
    flex-shrink: 0;
    font-size: 18px;
}

body {
    overflow: hidden;
}

main {
    width: 100vw;
    position: relative;
    top: 85px;
    left: 0;
    height: calc(100vh - 85px);
    overflow-y: auto;
    padding: 0 20px 20px 20px;
}

#runway {
    max-width: 1190px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
::-webkit-scrollbar-track {
  border-radius: 10px;
  background: rgba(0,0,0,0.1);
}
::-webkit-scrollbar-thumb{
  border-radius: 10px;
  background: rgba(0,0,0,0.2);
}
::-webkit-scrollbar-thumb:hover{
    background: rgba(0,0,0,0.4);
}
::-webkit-scrollbar-thumb:active{
    background: rgba(0,0,0,.9);
}